@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: regular;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

.gamify-page {
  background-color: #3b2a9f;
  font-family: poppins;
  color: white;
  min-width: 768px;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 55px;
}

.nav-home-button {
  text-decoration: none;
  color: white;
}

.game-page-button {
  display: flex;
  flex-direction: column;
}

.items {
  align-items: center;
}

.nav-titles {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.nav-home-button {
  display: flex;
  flex-direction: column;
}

.game-button {
  color: white;
  text-decoration: none;
}

.page_theme {
  background-color: #fa8305;
  border-radius: 15px;
  padding: 10px 25px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.major {
  /*width: 80vw;
  margin-right: auto;
  margin-left: auto;*/
  margin-top: 100px;
}

.promotion {
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 45%;
}

.game-promotion-img {
  width: 45%;
}

.home-games {
  color: #fa8305;
}

.in-touch > p {
  display: inline-block;
}

.in-touch {
  width: 28%;
  background-color: #fa8305;
  padding: 10px 20px;
  border-radius: 15px;
}

.work-with-us {
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

.why-work-title {
  margin-bottom: 50px;
}

.black-cards {
  display: flex;
  justify-content: center;
}

.work-card {
  background-color: #1c140f;
  width: 30%;
  height: 348px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.work-card:hover {
  scale: 105%;
  transition-duration: 200ms;
}

.work-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  gap: 20px;
}

.color-work-title1 {
  font-weight: lighter;
  text-align: center;
  background-color: #b000dc1c;
  width: 50%;
  padding: 10px 15px;
  border-radius: 10px;
}

.color-work-title2 {
  font-weight: lighter;
  text-align: center;
  background-color: #dc42001c;
  width: 50%;
  padding: 10px 15px;
  border-radius: 10px;
}

.color-work-title3 {
  font-weight: lighter;
  text-align: center;
  background-color: #00dc8d1c;
  width: 50%;
  padding: 10px 15px;
  border-radius: 10px;
}

.work-descrption {
  line-height: 200%;
}

.black-belt {
  width: 100%vw;
  background-color: #1c140f;
  margin-bottom: 100px;
}

.belt-details {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}

.belt-img-box {
  width: 80%;
  height: 450px;
  border-radius: 20px 20px 0px 0px;
}

.belt-img {
  object-fit: cover;
  object-position: center;
}

.belt-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.belt-description{
    line-height: 200%;
    font-weight: lighter;
}

.our-team{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.team-sec-head{
    margin-bottom: 50px;
}

.team-cards{
    display: flex;
    justify-content: space-around;
}

.black-card{
    background-color: #1c140f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 253px;
    width: 20%;
    border-radius: 15px;
}

.black-card:hover{
    scale: 105%;
    transition-duration: 200ms;
}


.mem-img-box{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.mem-img{
    object-fit: cover;
    object-position: center;
}

.mem-txt{
    text-align: center;
}

