@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: regular;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

.gamify-page {
  background-color: #3b2a9f;
  font-family: poppins;
  color: white;
  min-width: 768px;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 55px;
}

.items {
  align-items: center;
}

.nav-titles {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.nav-home-button {
  display: flex;
  flex-direction: column;
}

.game-button {
  color: white;
  text-decoration: none;
}

.page_theme {
  background-color: #fa8305;
  border-radius: 15px;
  padding: 10px 25px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.major {
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.promotion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.proved-by > b {
  font-weight: bold;
  color: #fa8305;
}

.pro-img {
  width: 60%;
  height: 60%;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.get-details {
  background-color: #fa8305;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px 20px;
}

.trends {
  width: auto;
  margin-bottom: 100px;
}

.title-and-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.see-all {
  background-color: #5141aa;
  padding: 10px 20px;
  border-radius: 10px;
}

.trend-cards {
  display: flex;
  justify-content: space-between;
}

.card-box {
  width: 251px;
  height: 277px;
  border-radius: 15px;
}

.t-card:hover {
  scale: 105%;
  transition-duration: 150ms;
}

.card-box-img {
  object-fit: cover;
  object-position: center;
}

.t-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.follow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 15px;
}

.dummy_text {
  position: relative;
  margin-bottom: 100px;
}

.dummy {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  line-height: 190%;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.dummy-title {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 25px;
}

.dummy-stuff {
  width: 50%;
  line-height: 220%;
  margin-bottom: 20px;
}

.dummy-img-dot {
  position: relative;
  display: flex;
  justify-content: end;
}

.dummy-box {
  width: 100%;
  height: 462px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.dummy-img {
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.dummy-dots {
  position: absolute;
}

.recent_projects {
  margin-bottom: 100px;
}

.recent-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.recent-title {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 20px;
}

.recent-description {
  margin-bottom: 35px;
}

.recent-imgs {
  margin-bottom: 50px;
}

.first-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.recent1 {
  width: 30%;
  height: 223px;
  border-radius: 15px;
}

.recent1-img {
  width: 100%;
  object-fit: cover;
}

.recent2 {
  width: 30%;
  height: 223px;
  border-radius: 15px;
}

.recent2-img {
  width: 100%;
  object-fit: cover;
}

.recent3 {
  width: 35%;
  height: 223px;
  border-radius: 15px;
}

.recent3-img {
  width: 100%;
  object-fit: cover;
}

.second-row {
  display: flex;
  justify-content: space-between;
}

.recent4 {
  width: 20%;
  height: 223px;
  border-radius: 15px;
}

.recent4-img {
  width: 100%;
  object-fit: cover;
}

.recent5 {
  width: 35%;
  height: 223px;
  border-radius: 15px;
}

.recent5-img {
  width: 100%;
  object-fit: cover;
}

.recent6 {
  width: 40%;
  height: 223px;
  border-radius: 15px;
}

.recent6-img {
  width: 100%;
  object-fit: cover;
}

.recent1:hover,
.recent2:hover,
.recent3:hover,
.recent4:hover,
.recent5:hover,
.recent6:hover {
  scale: 105%;
  transition-duration: 200ms;
}

.see-all-recent {
  text-align: center;
  background-color: #5141aa;
  border-radius: 10px;
  padding: 10px 20px;
  width: 7%;
  margin-right: auto;
  margin-left: auto;
}

.subscribe-txt {
  margin-bottom: 50px;
}

.subscribe-title {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 25px;
}

.subscribe-desc {
  width: 50%;
  line-height: 220%;
}

.loop-box {
  background-color: #1c1407;
  padding: 40px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
}

.loop-title {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 15px;
}

.loop-description {
  width: 70%;
  font-weight: lighter;
  font-size: small;
}

.email-box{
    color: #898989;
    background-color: white;
    width: 35%;
    height: 48px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 25px;
}

.continue{
    background-color: #fa8305;
    color: white;
    font-size: small;
    padding: 10px 15px;
    border-radius: 15px;
}